<article class="post-teaser__container">
  <div class="post-teaser__text-container">
    <header class="post-teaser__header">
      <h2 class="post-teaser__title">
        <a href="{{url}}">
          {{title}}
        </a>
      </h2>
    </header>
  </div>
    <div class="post-teaser__excerpt">
      <div class="post-teaser__meta">
            {{#if tags}}
        <span class="post-teaser__meta__tags">
          <!-- #{{tags separator=", "}} -->
          <time class="post-teaser__meta" datetime="{{date format='YYYY-MM-DD'}}">
        {{date format="MMMM Do, YYYY"}},
            </time>
        </span>
      {{/if}}
    </div>
      <p>
        {{excerpt words="200"}}
        <span class="read-more">
          <a class="read-more__link" href="{{url}}">
            <span>…</span>
          </a>
        </span>
      </p>
    </div>
 </div> <!-- end post-teaser__text-container -->
</article>
<br><br><br>
